html
    head
        link(rel='stylesheet', src='/stylesheets/index.css')
    body
        script(type='text/javascript', src='/js/three.min.js')
        script(type='text/javascript', src='/js/camera_move.js')
        script(type='text/javascript', src='/js/engine.js')