html
    head
        link(rel='stylesheet', src='/stylesheets/index.css')
        script(type='text/javascript', src='/js/engine.js')
        script(type='text/javascript', src='/js/engine.js')
    body
        canvas(width=600,height=800, class="app")